<link rel="stylesheet" href="../../public/css/cartPage-fde7148786.css">
<link rel="stylesheet" href="../../public/css/loader-768c070ede.css">
<div id="overlay" style="display: none;"></div>
<%-include('header')%>
<%if(cartItems.length===0){%>
  <div style="height: 50%;width: 100%;display: flex;">
    <h3 style="margin: auto;">Empty Cart</h3>
  </div>
  <%}else{%>
<h1 style="padding: 25px;">Shopping Cart</h1>
<div class="loader" style="display: none;" >
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__ball"></div>
    <h4>Removing...</h4>
</div>
<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
  <%for( u of cartItems){%>
  <div class="product">
    <div class="product-details">
    <div class="product-title"><%=u.name%></div>
      <p class="product-description"></p>
    </div>
    <div class="product-price"><%=u.price%></div>
    <div class="product-quantity">
      <input type="number" value="<%=u.quan%>" min="1">
    </div>
    <div class="product-removal">
      <a href="/menu/cartPage/remove" class="remove-product">
        Remove
      </a>
    </div>
    <div class="product-line-price"><%=parseInt(u.price)*parseInt(u.quan)%></div>

  </div>
  
<%}%>
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">0</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">0</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">50</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">0</div>
    </div>
  </div>
      <form action="payment" method="post">
        <button class="checkout">Checkout</button>
      </form>

</div>
<%}%>

<script>
  window.addEventListener('load',function(){
    let shopping_cart=document.querySelector('.shopping-cart');
    let products=shopping_cart.querySelectorAll('.product');
    let total=0;
    products.forEach((Element)=>{
      
      total+=parseInt(Element.querySelector('.product-line-price').textContent);
    })
  let cart_total=$("#cart-subtotal").text(total);
  let cart_tax=$('#cart-tax').text(parseFloat(total*0.05));
  let cart_shipping=$('#cart-shipping');
  
  $('#cart-total').text(parseInt(cart_total.text())+parseInt(cart_tax.text())+parseInt(cart_shipping.text()))
  
  console.log(total);
})
</script>
<script>
    $(document).ready(function(){
        $('.remove-product').click((e)=>{
          $('#overlay').show();
          $('.loader').show();
          const self=e;
            e.preventDefault();
            let removed_Item=e.target.parentNode.parentNode.querySelector('.product-title');
            let removed_Item_quantity=e.target.parentNode.parentNode.querySelector('.product-quantity').children[0];
            let cart_quantity=$('.cart-item');
            
            let local_data=JSON.parse(localStorage.getItem('cartItems'));
            removed_Item_quantity =removed_Item_quantity.getAttribute('value');
            let quant=localStorage.getItem('quantity');
            
            quant--;
            cart_quantity.text(quant);
            localStorage.setItem('quantity', quant);
            if(local_data!=null){
              
            let index=local_data.findIndex(e=>e.name===removed_Item.textContent);
            
            if(index!=-1){
              local_data.splice(index,1);
            }
            let quant_removed=local_data.filter(e=>{return e.name===removed_Item.textContent});
            localStorage.setItem('cartItems', JSON.stringify(local_data));
            let cart_item= JSON.parse('<%- JSON.stringify(cartItems) %>');
            
          }

            

            $.ajax({
                url:'/menu/cartPage/remove',
                method:'Post',
                data: {data:'<%- JSON.stringify(cartItems) %>',removed:removed_Item.textContent},
            }).done((data)=>{
              $('#overlay').hide();
          $('.loader').hide();
              $('#layout-main').html(data);
              // changing the total
            
            let total=0;
                local_data.forEach(element => {
                total+=parseInt(element.price);
                });
                let cart_total=$("#cart-subtotal").text(total);
                let cart_tax=$('#cart-tax').text(parseFloat(total*0.05));
                let cart_shipping=$('#cart-shipping');
                
                $('#cart-total').text(parseInt(cart_total.text())+parseInt(cart_tax.text())+parseInt(cart_shipping.text()))
            })
        })
    })
</script>
