<link rel="stylesheet" href="../../public/css/addtocart-145f84dc59.css">
<%- req.toastr.render() %>
<%-include('header');%>
<section class="sec1">
    <div class="menuimg">
      <h1>IT'S MENU</h1>
    </div>
    <div class="coffee">
      <h1>Coffee</h1>
      <br />
      <div class="items1">
        <div class="coffitem">
          <span> Espresso (coffee shot 30ml) </span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> Ameriacno (Black coffee) </span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>


        </div>
        <div class="coffitem">
          <span> Macchiato </span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>


        </div>
        <div class="coffitem">
          <span> Irish coffee </span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> Signature Afogato </span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>


        </div>
        <div class="coffitem">
          <span> Cappucino </span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>


        </div>
        
      </div>
      
    </div>
    <div class="parralax-image image1"></div>
    <div class="coffee">
      <h1>Cold Coffee</h1>
      <br />
      <div class="items1">
        <div class="coffitem">
          <span> ICY COFFEE ESPRESSO<br> ON THE ROCKS </span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> ICED COFFEE</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> ICED AMERICANO</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> ICED MOCHA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> ROSE ICED LATTE</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> VIETNAMESE ICED BREW</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        
      </div>
      
    </div>
    <div class="parralax-image image2"></div>

    <div class="coffee">
      <h1>Mocktails</h1>
      <br />
      <div class="Mocktails">
        <div class="coffitem">
          <span>CLASSIC LEMONADE</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  VIRGIN MOJITO</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  GREEN APPLE SODA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  BLACK CURRENT MOJITO</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> LITCHI MOJITO</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> ORANGE MOJITO</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        

      </div>
      
    </div>
    <div class="parralax-image image3"></div>

    <div class="coffee">
      <h1>ICED TEA
      </h1>
      <br />
      <div class="items1">
        <div class="coffitem">
          <span> LEMON ICED TEA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  PEACH ICED TEA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  STRAWBERRY ICED TEA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span> LITCHI ICED TEA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  MANGO ICED TEA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  WATERMELON ICED TEA</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
      </div>
      
    </div>
    <div class="parralax-image image4"></div>

    <div class="coffee">
      <h1>Desserts</h1>
      <br />
      <div class="items1">
        <div class="coffitem">
          <span> MUFFIN BURGER</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  BROWNIE SHOT</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  BROWNIE ICE CREAM</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  MUD PIE BROWNIE</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>MOCHA CHOCO DELIGHT</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>
        <div class="coffitem">
          <span>  FRUIT PUNCH SUNDAY</span>
          <span> 120rs </span>
          <span>  <%-include('addtocart');%> </span>
        </div>    
      </div>  
    </div>
  </section>
<%-include('footer');%>
<script src="../../public/css/addtocart-145f84dc59.css"></script>

<% if (flash.success && flash.success.length > 0) { %>
  <script>
    toastr.success('<%= flash.success[0]%>');
  </script>
<% } %>
<script>
    class Cart{
        constructor(self){
            this.myself=self;
            this.itemsShow();
        }
        itemsShow(){
            $(this.myself).click(function(e){
                e.preventDefault();
                let item;
                let cartItems;
                if(e.target.className==='cart-button clicked'|| e.target.className=='pqt-plus'|| e.target.className=='pqt-minus' ){
                  item=e.target.parentNode.parentNode;
                  
                }
                if(e.target.className=='add-to-cart'|| e.target.className=='added' ){
                  item=e.target.parentNode.parentNode.parentNode;
                  console.log("yeadss");
                }
                // if($(event.target).closest('.cart-button').length){
                //   let total=parseInt(document.querySelector('.cart-item').textContent);
                //     document.querySelector('.cart-item').textContent=total+1;
                //     localStorage.setItem('quantity',total+1);
                // }
                if(e.target.className=='add-to-cart' && item.querySelector('.added').textContent==="1"|| e.target.className=='fa fa-shopping-cart'){
                  console.log("hiiiiiiiiiiiiiiiiii");
                  let total=parseInt(document.querySelector('.cart-item').textContent);
                    document.querySelector('.cart-item').textContent=total+1;
                    localStorage.setItem('quantity',total+1);
                }
                console.log("e taget",item)
                console.log(item.querySelector('.added').textContent==='1');
                let itemName=item.children[0].textContent;
                let price=item.children[1].textContent;
                let quant=e.target.parentNode.querySelector('.added').textContent;
                const cartItem = {
                        name: itemName,
                        price: price,
                        quan: quant,
                    };
                    // Retrieve existing cart items from Local Storage (if any)
                    cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];

                    // Add the new cart item to the array
                    const index=cartItems.findIndex((e)=> e.name===cartItem.name);
                    if(index!=-1){
                        cartItems[index].quan=cartItem.quan;
                    }
                    else{
                        cartItems.push(cartItem);
                    }
                    // Store the updated cart items array in Local Storage
                    localStorage.setItem("cartItems", JSON.stringify(cartItems));
                    console.log("cart",cartItems);
            //         let total=parseInt(document.querySelector('.cart-item').textContent);
            //         document.querySelector('.cart-item').textContent=total+parseInt(quant);
            // localStorage.setItem('quantity',total+parseInt(quant));

                
        $.ajax({
            type:'Post',
            url:'/menu/cartItems',
            data:{data:localStorage.getItem('cartItems')}
        }).done(function(data){
          toastr.options = {
                "closeButton": true,
                "timeOut":2000,
                "progressBar": true,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
          }
          toastr.success('Item added to cart',{
                "closeButton": true,
                "timeOut":2000,
                "progressBar": true,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
          })
          
        }).fail((err)=>{
            console.log(err);
        });
    })
            }
        
    }
    $('.cart-button').each(function(){
        let self = this;
        let cartitems = new Cart(self);
    });
    $('.pqt-plus').each(function(){
        let self = this;
        let cartitems = new Cart(self);
    });
    $('.pqt-minus').each(function(){
        let self = this;
        let cartitems = new Cart(self);
    });
    
</script>
